<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gamers Grind</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

  <link rel="stylesheet" type="text/css" href="/css/calendar.css">
	<script type="text/javascript" src="/js/calendar.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Black+Ops+One:regular" rel="stylesheet" />
</head>

<body>
  <div class="flex-column justify-space-around">
    <header>
      
    {{> _navbar}}
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    
      



    </main>
    <footer>

    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

  	<script src="/js/calendar2.js"></script>
</body>

</html>