{{!-- <h1>Welcome to our homepage!</h1>

<!-- This section of text is looping through all of the saved events we have in our table -->
{{#each events as |event| }}
<div>
    <h2>{{event.description}}</h2>
    <h3>Created by {{event.user_id}}</h3>
    <h3>This event will be on day {{event.day_id}}</h3>
</div>
{{/each}} --}}

<section class="columns is-centered m-6">
    
    <div class="sectionBackground column is-two-fifths is-centered card m-6">
    <div class="auto-jsCalendar" id="events-calendar"></div>
    </div>

    <div class="sectionBackground column is-two-fifths is-centered card m-6">
    <div id="events">
      <ul>{{#each events as |event| }}
        <li>{{event.description}}</li>
        {{/each}}
      </ul>
    </div>
    </div>
   
  
</section>
