<div class="row">
  <div class="column is-multiline">
    <div class="col-md-6">
      <section class="section">
        <div class="column is-half">
          <h2 class="is-size-4 has-text-weight-bold has-text-light mb-4">Login</h2>
          <form class="form login-form">
            <div class="form-group">

              <input class="input mb-3" type="text" id="username-login" placeholder="Username" />
            </div>
            <div class="form-group">

              <input class="input mb-3" type="password" id="password-login" placeholder="Password" />
            </div>
            <div class="form-group">
              <button class="button is-link" type="submit">Login</button>
            </div>
          </form>
        </div>
    </div>

    <div class="col-md-6">
      <section class="section">
        <div class="column is-half">
          <h2 class="is-size-4 has-text-weight-bold has-text-light mb-4">Signup</h2>

          <form class="form signup-form">
            <div class="form-group">

              <input class="input mb-3" type="text" id="username-signup" placeholder="Username" />
            </div>
            <div class="form-group">

              <input class="input mb-3" type="password" id="password-signup" placeholder="Password" />
            </div>
            <div class="form-group">
              <button class="button is-link" type="submit">Signup</button>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>
</section>
<script src="./js/login.js"></script>