html,
body {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  color: #d5e712;
}
.description {
  text-align: center;
  padding-bottom: 40px;
  
}
.sectionBackground {
	background-color: #352b4ab2;
}
.jsCalendar.clean-theme tbody td.jsCalendar-previous,
.jsCalendar.clean-theme tbody td.jsCalendar-next {
  color: #d5e712;
  opacity: 0.2;
}
#wrapper {
  margin: 0 auto;
  width: 800px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
  
}
#wrapper .jsCalendar table {
  box-shadow: none;
  
}
.clear {
  clear: both;
}
#events-calendar {
  float: left;
}
#events {
  float: right;
  width: 435px;
  margin: 10px 20px 10px 5px;
  
}
#events .title {
  padding: 5px 0px;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  color: #d5e712;
}
#events .subtitle {
  padding: 5px 0px;
  font-size: 14px;
  text-align: center;
  color: #d5e712;
}
#events .list {
  height: 250px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #d5e712;
}
#events .list .event-item {
  line-height: 24px;
  min-height: 24px;
  padding: 2px 5px;
  border-top: 1px solid #ffffff(0, 0, 0, 0.2);
  color: #d5e712;
  
}
#events .list .event-item .close {
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #000;
  border-radius: 8px;
  height: 14px;
  width: 14px;
  line-height: 12px;
  text-align: center;
  float: right;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0px;
  margin: 5px;
  display: block;
  overflow: hidden;
  background: #f44336;
  cursor: pointer;
}
#events .action {
  text-align: right;
}
#events .action input {
  padding: 0px 5px;
  font-size: 12px;
  margin: 10px 5px;
  border: 1px solid #999999;
  height: 28px;
  line-height: 28px;
  width: 120px;
  background: #f8f8f8;
  color: rgb(166, 117, 117);
  cursor: pointer;
  transition: all 0.2s;
}
#events .action input:hover {
  background: #eeeeee;
  border: 1px solid #000;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

/* Default Theme */
/* General style */
.jsCalendar * {
  margin-left: 10px;  
  color: #d5e712;
  font-weight: bolder;
}
.jsCalendar table,
.jsCalendar table th,
.jsCalendar table td {
  border: 0;
}

.jsCalendar thead .jsCalendar-title {
  height: 40px;
  line-height: 40px;
}
.jsCalendar thead .jsCalendar-title-left {
  float: left;
}
.jsCalendar thead .jsCalendar-title-right {
  float: right;
}
.jsCalendar thead .jsCalendar-nav-left,
.jsCalendar thead .jsCalendar-nav-right {
  border-radius: 10px;
  color: #d5e712;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  margin: 10px 8px;
  text-align: center;
  transition: color 0.2s, background-color 0.2s;
  width: 20px;
}
.jsCalendar thead .jsCalendar-nav-left:hover,
.jsCalendar thead .jsCalendar-nav-right:hover {
  background-color: #e2e2e2;
  color: #000000;
}
.jsCalendar thead .jsCalendar-nav-left {
  float: left;
}
.jsCalendar thead .jsCalendar-nav-right {
  float: right;
}
.jsCalendar thead .jsCalendar-title-name {
  cursor: default;
  float: left;
  font-size: 18px;
  font-weight: bold;
  padding: 0 20px;
  color: #d5e712;
}
.jsCalendar thead .jsCalendar-nav-left:after {
  content: "<";
}
.jsCalendar thead .jsCalendar-nav-right:after {
  content: ">";
}
.jsCalendar thead .jsCalendar-week-days th {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}
.jsCalendar thead .jsCalendar-week-days th,
.jsCalendar tbody td {
  border-radius: 18px;
  cursor: default;
  display: inline-block;
  font-size: 12px;
  font-weight: lighter;
  height: 36px;
  line-height: 36px;
  margin: 1px 2px;
  text-align: center;
  transition: color 0.1s, background-color 0.2s;
  width: 36px;
}
.jsCalendar tbody td:hover {
  background-color: #1dff08;
}
.jsCalendar tbody td.jsCalendar-selected {
  background-color: #ffffff;
  border: 2px solid #e6e6e6;
  box-sizing: content-box;
  height: 32px;
  line-height: 32px;
  width: 32px;
}
.jsCalendar tbody td.jsCalendar-current {
  background-color: #843e82;
  border-radius: 18px;
  color: #ffffff;
}
.jsCalendar tbody td.jsCalendar-previous,
.jsCalendar tbody td.jsCalendar-next {
  color: #cacaca;
}
.jsCalendar tbody td.jsCalendar-previous:hover,
.jsCalendar tbody td.jsCalendar-next:hover {
  color: #ffffff;
}

.jsCalendar thead {
  display: block;
  margin: 4px 4px 0 4px;
}
.jsCalendar tbody {
  display: block;
  margin: 0 4px 4px 4px;
}
.jsCalendar ::-moz-selection {
  background: #83d8ff;
}
.jsCalendar ::selection {
  background: #83d8ff;
}
